
<div class="w-50 mx-auto">
<%= form_with model: [@category, @task], scope: :task, url: category_task_path(@category.id), method: :patch, local: true do |f| %>
    
    <% if @task.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
            <% @task.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
    
    <%= f.label 'Tasks Title', for: "exampleFormControlInput1", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", id: "exampleFormControlInput1" %>

    <%= f.label 'Category Details', for: "exampleFormControlTextarea1", class: "form-label" %>
    <%= f.text_area :details, class: "form-control", id: "exampleFormControlTextarea1", rows: "3" %>

    <%= f.submit "Edit Task" %>
<% end %>
</div>