<div class="w-50 mx-auto">
<p style="color: green"><%= notice %></p>

<div class="card">
    <div class="card-header">
        <%= @task.id %> | <%= @task.name %>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= @task.role %></h5>
        <p class="card-text"><%= @task.is_approved %></p>
        <p class="card-text"><%= @task.unconfirmed_email %></p>
    </div>
    
</div>
</div>


