<div id="<%= dom_id category %>" class="card">
  <div class="card-header">
    <%= category.id %> | <%= category.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= category.details %></h5>
    <p class="card-text">Created: <%= category.created_at %></p>
    <p class="card-text">Updated: <%= category.updated_at %></p>
  </div>

</div>
