<p style="color: green"><%= notice %></p>

<div class="d-flex p-2 justify-content-center align-items-center">
  <h1>Categories</h1>
  <%= link_to "+ New category", new_category_path, class: "btn btn-primary ms-3", role: "button" %>
</div>
<div id="categories" class="w-50 mx-auto">
  <% @categories.each do |category| %>
    <%= render category %>
    <%= link_to "Show this category", category, class:"btn btn-primary mt-1 mb-3", role: "button" %>
    <%= link_to "Show tasks in this category", category_tasks_path(category.id), class:"btn btn-primary mt-1 mb-3", role: "button" %>
  <% end %>
</div>


